@mixin settings {
    #settings-title {
        display: inline-block;
        text-align: center;
        border-bottom: 2px solid black;
        margin: 0;
    }
    #settings-profile {
        display: flex;
    }
}